# Archivos del sistema
.DS_Store
Thumbs.db
# Archivos temporales
*.tmp
*.log
# Carpetas de node y otros
/node_modules/
/vendor/
/public_html/cache/
/public_html/tmp/
# Archivos de configuración de editor
*.sublime-workspace
*.swn
# Archivos de GitHub
.github/
